@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
     --color-dark: #15132c;
     --color-black: #1d1d1d;
     --color-white: #ffff;
     --color-light: #e2e2e2;
     --color-gray: #9b9b9b;
     --color-primary: #4940ee;
     --color-secondary: #c7c4ff;
     --color-danger: #f67676;
     --color-success: #73e973;

     --border-radius: 1.4rem;
     --card-border-radius: 1rem;
     --btn-padding: .8rem 2rem;
     --search-padding: 0.6rem 1rem;
     --card-padding: 1rem;
     
     --sticky-top-left: 5.4rem;
     --sticky-top-right: -18rem
    }

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    color: var(--color-dark);
    background-color: var(--color-light);
    overflow-x: hidden;
}


/*********** CONSTANT STYLES ***********/

.container {
    width: 80%;
    margin: 0 auto;
}

.profile-photo {
    width: 2.8rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

img {
    display: block;
    width: 100%;
}

.btn {
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 700;
    font-family: Inter;
    border-radius: var(--border-radius);
    padding: var(--btn-padding);
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: var(--color-primary);
    color: #ffff;
}

.text-bold {
    font-weight: 700;
}

.text-muted {
    color: var(--color-gray);
}





/********** NAV-BAR STYLING **********/

nav {
    width: 100%;
    background: var(--color-white);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar {
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
    display: flex;
    align-items: center;
}

nav .search-bar span {
    font-size: 1.3rem;
}

.search-bar input {
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: var(--color-dark);
}

nav .search-bar input::placeholder {
    color: var(--color-gray);
}

nav .create {
    display: flex;
    align-items: center;
    gap: 2rem;
}




/********** MAIN STYLING **********/

main {
    position: relative;
    top: 6rem;
}

main .container {
    display: grid;
    grid-template-columns: 18vw auto 20vw;
    column-gap: 2rem;
    position: relative;
}




/********** LEFT-COLUMN STYLING **********/

main .container .left-column {
    height: max-content;
    position: sticky;
    top: var(--sticky-top-left);
}

main .container .left-column .profile {
    padding: var(--card-padding);
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    column-gap: 1rem;
    width: 100%;
}

main .container .left-column .profile .user-handle p {
    font-size: .8rem
}




/********** LEFT-COLUMN SIDEBAR STYLING **********/

.left-column .sidebar {
    margin-top: 1rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
}

.left-column .sidebar .menu-item {
    position: relative;
    display: flex;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.left-column .sidebar .menu-item:hover{
    background: var(--color-light);
}

.left-column .sidebar .menu-item span{
    font-size: 1.4rem;
    color: var(--color-gray);
    margin-left: 2rem;
    position: relative;
}

.left-column .sidebar .menu-item span .notification-count {
    background: var(--color-danger);
    color: white;
    font-size: 0.7rem;
    width: fit-content;
    border-radius: 50%;
    padding: 0.2rem;
    position: absolute;
    bottom: 0.6rem;
    right: 0.7rem;
    font-family: Helvetica, sans-serif;
}

.left-column .sidebar h3 {
    margin-left: 1.5rem;
    font-size: 1rem;
}

.left-column .sidebar .active {
    background: var(--color-light);
}

.left-column .sidebar .active span,
.left-column .sidebar .active h3 {
    color: var(--color-primary);
}

.left-column .sidebar .active::before {
    content: "";
    display: block;
    width: 0.5rem;
    height: 100%;
    position: absolute;
    background: var(--color-primary);
}

.left-column .sidebar .menu-item:first-child.active {
    border-top-left-radius: var(--card-border-radius);
    overflow: hidden;
}

.left-column .sidebar .menu-item:last-child.active {
    border-top-left-radius: var(--card-border-radius);
    overflow: hidden;
}

.left-column .btn {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-family: Inter;
    padding: .8rem;
}




/********** NOTIFICATION POPUP STYLING **********/


.left-column .notification-popup {
    display: none;
    position: absolute;
    left: 110%;
    top: 0;
    width: 30rem;
    height: auto;
    scrollbar-width: thin;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    box-shadow: 0 0  2rem var(--color-primary);
    z-index: 8;
}


.left-column .notification-popup::before {
    position: absolute;
    top: 1.4rem;
    left: -0.6rem;
    display: block;
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--color-white);
    transform: rotate(45deg);
}

.left-column .notification-popup > div {
    display: flex;
    align-items: start;
    gap: 1rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--color-gray);
}

.left-column .notification-popup > div:last-child {
    margin-bottom: 0;
}

.left-column .notification-popup small {
    display: block;
}




/********** MIDDLE COLUMN STYLING **********/

.middle-column .stories {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    height: 12rem;
}

.middle-column .stories .story {
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
    font-weight: 700;
    width: 100%;
    overflow: hidden;
    position: relative;
    color: white;
}

.middle-column .stories .story .profile-photo {
    z-index: 1;
    border: 2px solid var(--color-primary);
}

.middle-column .stories .story .name {
    z-index: 1;
}

.middle-column .stories .story::before {
    content: "";
    display: block;
    width: 100%;
    height: 12rem;
    position: absolute;
    top: 0;
    background: black;
    filter: opacity(50%);
}

.middle-column .stories .story:nth-child(1) {
    background: url("./assets/story4.jpeg") no-repeat center center/cover;
    
}
.middle-column .stories .story:nth-child(2) {
    background: url("./assets/story1.jpg") no-repeat center center/cover;
    
}
.middle-column .stories .story:nth-child(3) {
    background: url("./assets/story2.jpg") no-repeat center center/cover;
    
}
.middle-column .stories .story:nth-child(4) {
    background: url("./assets/story5.jpg") no-repeat center center/cover;
    
}
.middle-column .stories .story:nth-child(5) {
    background: url("./assets/story3.jpg") no-repeat center center/cover;
    
}
.middle-column .stories .story:nth-child(6) {
    background: url("./assets/story6.JPG") no-repeat center center/cover;
    
}




/********** CREATE-POST STYLING **********/

.middle-column .create-post {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-white);
    padding: 0.4rem 0.4rem;
    border-radius: 1.5rem;
}

.middle-column .create-post input[type="text"] {
    justify-self: start;
    width: 70%;
    padding-left: 1rem;
    background: transparent;
    color: var(--color-dark);
    margin-right: 1rem;
    font-family: "Inter";
}



/********** FEEDS STYLING **********/

.middle-column .feeds .feed {
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;
}

.middle-column .feeds .feed .head {
    display: flex;
    justify-content: space-between;
}

.middle-column .feed .user {
    display: flex;
    gap: .8rem;
}

.middle-column .feed .feed-photo {
    border-radius: var(--card-border-radius);
    overflow: hidden;
    margin: .7rem 0;
}

.middle-column .feed .action-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .5rem;
    cursor: pointer;
}

.middle-column .feed .action-buttons .interaction-buttons :nth-child(1){
    color: rgb(245, 54, 54);
}

.middle-column .feed .action-buttons .interaction-buttons :nth-child(2){
    padding-left: .5rem;
}

.middle-column .feed .action-buttons .interaction-buttons :nth-child(3){
    padding-left: .5rem;
}

.middle-column .feed .feed-likes {
    display: flex;
    align-items: center;
}

.middle-column .feed-likes span {
    width: 1.6rem;
    height: 1.6rem;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 1.7px solid var(--color-white);
    margin-left: -0.6rem
}

.middle-column .feed-likes span:first-child {
    margin: 0;
}

.middle-column .feed-likes p {
    margin-left: .5rem;
}

.middle-column .feed .feed-timestamp {
    font-size: .7rem;
    margin-top: .5rem;
}




/********** RIGHT COLUMN STYLING **********/

main .right-column {
    height: max-content;
    position: sticky;
    top: var(--sticky-top-right);
    bottom: 0%;
}

.right-column .messages {
    padding: var(--card-padding);
    background: var(--color-white);
    border-radius: var(--card-border-radius);
}

.right-column .messages .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.right-column .messages .heading span {
    font-size: 1.4rem;
}

.right-column .messages .search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.right-column .messages .category {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.right-column .messages .category h6 {
    width: 100%;
    text-align: center;
    font-size: 0.85rem;
    padding: 0.6rem;
    /* margin: 3px; */
    border-bottom: 2px solid var(--color-light);
    cursor: pointer;
}

.right-column .messages .category .active {
    border-color: var(--color-dark);
}

.right-column .messages .message-chat {
    display: flex;
    align-items: center;
    gap: .8rem;
    margin-bottom: 1rem;
    position: relative;
}

.right-column .messages .message-chat:last-child {
    margin-bottom: 0;
}

.right-column .messages .message-chat p {
    font-size: 0.8rem;
}

.right-column .messages .message-chat .unread::after {
    position: absolute;
    bottom: 1.7rem;
    right: 0;
    display: block;
    content: "";
    border-radius: 50%;
    background-color: var(--color-primary);
    width: .3rem;
    height: .3rem;
}

.right-column .messages .message-chat .profile-photo {
    overflow: visible;
    position: relative;

}

.right-column .messages .message-chat .profile-photo img {
    border-radius: 50%;
}

.right-column .messages .message-chat .profile-photo .active {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    border: 3px solid var(--color-white);
    background: var(--color-success);
    position: absolute;
    bottom: 0;
    right: 0;
}
